
header {
    width: 100%;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

i{
    color: #FFF;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
       animation: translateY 0.8s infinite alternate;
       color: #d94140;
    }
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}


.header-botton{
    border: 1px solid #FFF;
    padding: 8px 24px;
    border-radius: 8px;
    color: #FFF;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-botton:hover{
    border: 1px solid #d34040;
    background-color: #d34040;
}

.header-logo{
    display: flex;;
    align-items: center; 
    justify-content: center;
    margin-top: 14px;
}

@media screen and (max-width: 768px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 

        i{
            margin-top: 16px;
            font-size: 34px;
        }
    }


    .header-logo img{
       width: 160px;
       margin-top: 46px; 
    }
    .header-botton{
        display: none;
    }
}